TaurusClient.xcodeproj/project.xcworkspace/xcuserdata/yqqjerk.xcuserdatad/UserInterfaceState.xcuserstate
TaurusClient.xcodeproj/xcuserdata/yqqjerk.xcuserdatad/xcschemes/TaurusClient.xcscheme
TaurusClient.xcodeproj/xcuserdata/yqqjerk.xcuserdatad/xcschemes/xcschememanagement.plist
